<article class="project-card">

  <div class="project-card__image">
    <img
      [src]="image()"
      [alt]="title()"
      loading="lazy"
    >
  </div>

  <div class="project-card__content">

    <p class="project-card__category">
      {{ category() }}
    </p>

    <h3>
      {{ title() }}
    </h3>

    <p class="project-card__description">
      {{ description() }}
    </p>

    <a
      href="#"
      class="project-card__link"
    >
      Voir le projet →
    </a>

  </div>

</article>